@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */
a, .btn, .proj-btn, .contact-left-button,.CV-btn {
  transition: all 300ms ease;
}



body {
background-color: rgb(255, 255, 255);  
}

/* DESKTOP NAV */

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0 5vw;
  z-index: 10;
  
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-links {
  display: flex;
  gap: 1.5vw;
  list-style: none;
  font-size: .85vw;

}

.nav-links li a {
  position: relative;
  z-index: 11;
}

.nav-a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
}

.nav-a:hover {
  color: #666666;

}

.logo {
  color: #333333;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(233, 232, 232,.5);
  font-size: 1.5rem;
}

.logo:hover {
  cursor: default;
}

#special-nav {
  text-decoration: none;
}

.socials {
  padding-left: 1vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  z-index: 10;
}

.socials-imgs {
  width: 2vw;
}

/* Home section */
section {
  padding-top: 4vh;
  height: 96vh;
  /* margin: 0 10vw; */
}

#home {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.section-pic-container {
  display: flex;
  height: 60vh;
  margin: auto 0;
}

#pic-of-me{
  border-radius: 10vw;
}
.section-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-text-container:hover {
  cursor: default;
}

p {
  position: relative;
  font-size: 2rem;
  color: #333333;
}
p:hover, h1:hover {
  cursor: default;
}

h1 {
  font-size: 2.5rem;
  color: #333333;
}

#school-logo {
  padding-top: 3vh;
  height: 3vw;
}

/* About section */
#header-text, #header-header {
  text-align: center;
}
#about{
  padding: 8vh 5vw;
}
#about-img {
  height: 60vh;
  border-radius: 10vh;
}
.CV-btn {
  padding: 1vh 1vw;
  border-radius: 2vw;
  background-color: #ffffff;
  border: 1px solid #666666;
  color: #333333;
}
.CV-btn:hover {
  background-color: #666666;
  color: white;
  cursor: pointer;
}

#about-interest-img {
  width: 2.5vw;
}

#section-text-container-home {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  gap: 6vw;
  width: 90vw;
}

#header-text {
  font-size: 1rem;
  color: #333333;
}

#header-header {
  font-size: 2rem;
  color: #333333;
}

#about-stuff {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4vw;
  border: 1px solid #e0e0e0;
  height: 35vh;
  padding: 0 2vw;
  gap: 1.25vw;
}

#about-interest-txt {
  font-size: 1rem;
  color: #666666;
  text-align: center;
}

#about-stuff-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}

#container-about {
  display: flex;
  gap: 7vw;
  justify-content: center;
  align-items: center;
}

/* Project section */
.project-project-container {
  padding-top: 8vh;
  gap: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-btn {
  font-size: 15px;
  padding: .5vh 1.5vw;
  border-radius: 2vw;
  background-color: #ffffff;
  border: 1px solid #666666;
  color: #333333;
}

.proj-btn:hover {
  background-color: #666666;
  color: white;
  cursor: pointer;
}

.project-project {
  padding: 3vh 3vw;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 4vw;
  gap: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-img {
  width: 25vw;
  border-radius: 5vh;
}

#proj-header {
  font-size: 1.5rem;
  color: #333333;
}

.proj-btn-container {
  display: flex;
  gap: 1vw;
}

/* Intersection Observer animations */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Gallery section */
#gallery{
  padding: 5vh 5vw;
}
.gallery-gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  gap: 5vw;
  width: 90vw;
}

.container {
  width: 25vw;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4vw;
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  width: 100%;
  animation: slide 10s infinite;
}

.gallery-container {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
}

.gallery-img {
  width: 100%;
}

@keyframes slide {
  0%, 25% {
    transform: translateX(0);
  }
  30%, 50% {
    transform: translateX(-100%);
  }
  55%, 75% {
    transform: translateX(-200%);
  }
  80%, 100% {
    transform: translateX(-300%);
  }
}


.year-title {
  display: flex;
}

.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}

/* Contact section */
.contact-container {
  padding-top: 8vh;
}

.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.contact-inputs {
  width: 20vw;
  height: 5vh;
  outline: none;
  font-weight: 500;
  padding-left: 1.5vw;
  border-radius: 5vh;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  color: #333333;
}

.contact-left-button {
  padding: 1vh 1vw;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #666666;
  color: #333333;
}
.contact-left-button:hover {
  background-color: #666666;
  color: white;
  cursor: pointer;
}
.contact-left textarea {
  height: 14vh;
  padding-top: 1.5vh;
  border-radius: 3vh;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  color: #333333;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}


/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  top: 2vh;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 90%;
  height: .2vh;
  background-color: #333333;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
@media screen and (max-width: 1200px) {
  #home {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
